body {
    font-family: Cambria, serif;
    margin: 50px;
    margin-top: 0px;
    padding: 40px;
    background-color: #3d405b;
    color: white;
}

.title{
    font-size:4em;
    margin:0;
    padding-bottom: 20px;
}

nav{
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    font-family: Cambria, serif;
    color: white;
}

a:hover{
    text-decoration: none;
    font-family: Cambria, serif;
    color:#e07a5f; }

p{
    line-height: 1.6em;
}

article {
    border-top: 1px solid #e07a5f;
}

form {
    margin-bottom:7px;
}

select{
    font-family: Cambria, serif;
    font-size: .9em;
}

#email-signup{
    padding-top: 20px;
}

img{
    padding-top:20px;
    padding-bottom:20px;
    border-top: 1px solid #e07a5f;
    border-bottom: 1px solid #e07a5f;
}

footer{
    padding-top: 30px;
}

.about-paragraph{
    border-top: 1px solid #e07a5f;
}